<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edition Personne</title>
    <style>
        .navbar {

            list-style: none;
        }
        .navbar li {
           display: inline-block;
        }
    </style>
</head>
<body>
    <div  th:replace="navbar :: navbar_fragment"></div>
    <form th:action="@{/updatepersonne/{id}(id=${personne.id})}" th:object="${personne}" method="post">
        <fieldset>
            <legend>Identité</legend>
            <div>
                <label>Prénom:</label>
                <input type="text" id="prenom" name="prenom" th:value="*{prenom}"/>
            </div>
            <div>
                <label>Nom:</label>
                <input type="text" id="nom" name="nom" th:value="*{nom}"/>
            </div>
            <div>
                <label>Age:</label>
                <input type="number" id="age" name="age" th:value="*{age}"/>
            </div>
            <div>
                <label>Sexe:</label>
                <input type="text" id="sexe" name="sexe" th:value="*{sexe}"/>
            </div>
        </fieldset>
        <fieldset>
            <legend>Adresse</legend>
            <div>
                <label>Numéro:</label>
                <input type="text" id="numero" name="numero" th:value="${personne.adresse.numero}"/>
            </div>
            <div>
                <label>Rue:</label>
                <input type="text" id="rue" name="rue" th:value="${personne.adresse.rue}"/>
            </div>
            <div>
                <label>Code Postal:</label>
                <input type="text" id="codepostal" name="codepostal" th:value="${personne.adresse.codePostal}"/>
            </div>
            <div>
                <label>Ville:</label>
                <input type="text" id="ville" name="ville" th:value="${personne.adresse.ville}"/>
            </div>
        </fieldset>
        <button type="submit">Mettre à jour</button>

    </form>
</body>
</html>