<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste personnes</title>
    <style>
        .navbar {

            list-style: none;
        }
        .navbar li {
           display: inline-block;
        }
        table, td, th {
            border: 1px solid black;
        }
        table {
            border-collapse: collapse;
        }
        td {
            padding: 3px;
        }
    </style>
</head>
<body>
    <div  th:replace="navbar :: navbar_fragment"></div>
    <h1>Annuaire Personnes</h1>
    <table>
        <tr><th>Id</th><th>Prénom</th><th>Nom</th><th>Actions</th></tr>
        <tr th:each="personne: ${personnes}">
            <td th:text="${personne.id}" />
            <td th:text="${personne.prenom}" />
            <td th:text="${personne.nom}" />
            <td><a th:href="@{/editpersonne/{id}(id=${personne.id})}">Editer</a></td>
            <td><a th:href="@{/editpersonne/{id}(id=${personne.id})}">Supprimer</a></td>
            <!--<td><a th:href="${'/editpersonne/' + personne.id }">Editer</a></td>-->

        </tr>
    </table>
</body>
</html>